<div class="hero-unit"">
	<h2> Votre liste d'amis <h2/>
	<div ng-repeat="friend in friendlist">
		<h2>{{friend.pseudo}}</h2>
		Nom : {{friend.nom}} {{friend.prenom}}<br/>
		Poids : {{friend.poids}}kg <br/>
		Taille : {{friend.taille}}cm <br/>
		Sexe : {{friend.sexe}} <br/>
		mail : {{friend.mail}} <br/>
		<button ng-click="rmFriend(friend)" type="button" class="btn btn-default">Supprimer</button>
	</div>
	<br/>{{test}}
	<div class="alert alert-info">
		<p> Vous souhaitez ajouter un nouvel ami ? Chercher le dans la liste ci-dessous</p>
	</div>
	Recherche : <input ng-model="query">
	<div ng-repeat="newFriend in userlist | filter:query ">
		<span>{{newFriend.pseudo}}</span> 
		<button ng-click="addFriend(newFriend)" type="button" class="btn btn-default">Ajouter</button>
	</div>
</div>