<div class="hero-unit"">
	<h2> Votre liste d'amis <h2/>
	<div ng-repeat="friend in firendlist">
		<h1>{{friend.pseudo}}</h1>
		Nom : {{friend.nom}} {{friend.prenom}}<br/>
		Poids : {{friend.poids}}kg <br/>
		Taille : {{friend.taille}}cm <br/>
		Sexe : {{friend.sexe}} <br/>
		mail : {{friend.mail}} <br/>
		<button ng-click="rmFriend(friend)" type="button" class="btn btn-default">Supprimer</button>
	</div>
	<br/>
	<div class="alert alert-info">
		<p> Vous souhaitez ajouter un nouvel ami ? Chercher le dans la liste ci-dessous</p>
	</div>
	<div ng-repeat="user in userlist">
		<span>{{user.pseudo}}</span> 
		<button ng-click="addFriend(user)" type="button" class="btn btn-default">Ajouter</button>
	</div>
</div>