<div class="hero-unit"">
  <h2> Voici vos différentes séances enregistrées. <h2/>
	
	<div ng-repeat="seance in seances">
		<h3>Séance {{seance.id}}</h3>
		Date de la séance : {{seance.date}} <br/>
		Calories dépensées : {{seance.calories}}<br/>
		Distance parcourue : {{seance.distance}}<br/>
		Vitesse : {{seance.vitesse}} <br/>
	</div>
	<br/>
	<br/>
	<form class="navbar-form pull-left">
		<input type="text" class="span2" placeholder="Date de la séance">
		<input type="text" class="span2" placeholder="Calories dépensées">
		<input type="text" class="span2" placeholder="Distance parcourue">
		<input type="text" class="span2" placeholder="Vitesse">
		<button type="submit" class="btn">Submit</button>
    </form>
</div>